# Data Science
#### By: Javier Orduz
[license-badge]: https://img.shields.io/badge/License-CC-orange
[license]: https://creativecommons.org/licenses/by-nc-sa/3.0/deed.en

[![CC License][license-badge]][license]  [![DS](https://img.shields.io/badge/downloads-DS-green)](https://github.com/Earlham-College/DS_Fall_2022)  [![Github](https://img.shields.io/badge/jaorduz-repos-blue)](https://github.com/jaorduz/)  ![Follow @jaorduc](https://img.shields.io/twitter/follow/jaorduc?label=follow&logo=twitter&logoColor=lkj&style=plastic)

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

# Part I: Simpler Linear Regression. Knowing data

Data source [0].

<h1>Table of contents</h1>

<div class="alert  alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#unData">Data</a></li>
         <ol>
             <li><a href="#reData">Reading</a></li>
             <li><a href="#exData">Exploration</a></li>
         </ol>
        <li><a href="#daExploration">Data Exploration</a></li>
        <li><a href="#simRegression">Simple Regression Model</a></li>
    </ol>
</div>
<br>
<hr>


<h2 id="unData">Data</h2>

### `FuelConsumption.csv`:

This dataset contains a model-specific fuel consumption ratings and estimated carbon dioxide 
emissions for new light-duty vehicles for retail sale in Canada.

Some **features** are

- **MODELYEAR** e.g. 2014
- **MAKE** e.g. Acura
- **MODEL** e.g. ILX
- **VEHICLE CLASS** e.g. SUV
- **ENGINE SIZE** e.g. 4.7
- **CYLINDERS** e.g 6
- **TRANSMISSION** e.g. A6
- **FUEL CONSUMPTION in CITY(L/100 km)** e.g. 9.9
- **FUEL CONSUMPTION in HWY (L/100 km)** e.g. 8.9
- **FUEL CONSUMPTION COMB (L/100 km)** e.g. 9.2
- **CO2 EMISSIONS (g/km)** e.g. 182   --> low --> 0

In [4]:
df = pd.read_csv("FuelConsumption.csv")

<h3>Dataframe</h3>

<div class="alert  alert-block alert-info" style="margin-top: 20px">
    A DataFrame represents a rectangular table of data and contains an ordered collection 
    of columns, each of which can be a different value type (numeric, string, boolean, etc.). 
    The DataFrame has both a row and column index; it can be thought of as a dict 
    of Series all sharing the same index. Under the hood, the data is stored as one or 
    more two-dimensional blocks rather than a list, dict, or some other collection of 
    one-dimensional arrays.
</div>
<br>
<hr>

In [5]:
df.dtypes

MODELYEAR                     int64
MAKE                         object
MODEL                        object
VEHICLECLASS                 object
ENGINESIZE                  float64
CYLINDERS                     int64
TRANSMISSION                 object
FUELTYPE                     object
FUELCONSUMPTION_CITY        float64
FUELCONSUMPTION_HWY         float64
FUELCONSUMPTION_COMB        float64
FUELCONSUMPTION_COMB_MPG      int64
CO2EMISSIONS                  int64
dtype: object

In [6]:
df.shape

(1067, 13)

In [7]:
print("Number of rows =", df.shape[0], "\nNumber of features (columns) =",df.shape[1])

Number of rows = 1067
Number of features (columns) = 13

In [8]:
df.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [11]:
df.head(7)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
5,2014,ACURA,RLX,MID-SIZE,3.5,6,AS6,Z,11.9,7.7,10.0,28,230
6,2014,ACURA,TL,MID-SIZE,3.5,6,AS6,Z,11.8,8.1,10.1,28,232

In [12]:
df.describe()

,MODELYEAR,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
count,1067.0,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000,1067.000000
mean,2014.0,3.346298,5.794752,13.296532,9.474602,11.580881,26.441425,256.228679
std,0.0,1.415895,1.797447,4.101253,2.794510,3.485595,7.468702,63.372304
min,2014.0,1.000000,3.000000,4.600000,4.900000,4.700000,11.000000,108.000000
25%,2014.0,2.000000,4.000000,10.250000,7.500000,9.000000,21.000000,207.000000
50%,2014.0,3.400000,6.000000,12.600000,8.800000,10.900000,26.000000,251.000000
75%,2014.0,4.300000,8.000000,15.550000,10.850000,13.350000,31.000000,294.000000
max,2014.0,8.400000,12.000000,30.200000,20.500000,25.800000,60.000000,488.000000

## Querying

Note, pandas considers a table (dataframe) as a pasting of many "series" together, horizontally.

In [13]:
type(df.MODELYEAR), type(df)

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [14]:
df.ENGINESIZE <= 2

0        True
1       False
2        True
3       False
4       False
        ...
1062    False
1063    False
1064    False
1065    False
1066    False
Name: ENGINESIZE, Length: 1067, dtype: bool

In [15]:
SumEng = np.sum(df.ENGINESIZE <= 2)
SumEng

310

In [16]:
SumEngTotal = np.sum(df.ENGINESIZE <= 2)/df.shape[0]
SumEngTotal

0.29053420805998126

In [17]:
MeanTotal = np.mean(df.ENGINESIZE <= 2.0)
MeanTotal

0.29053420805998126

In [18]:
EngMean = (df.ENGINESIZE <= 2).mean()
EngMean

0.29053420805998126

In [19]:
AverageEng = np.average(df.ENGINESIZE <= 2.0)
AverageEng

0.29053420805998126

##  Exercises

1. Why previous outputs are same?\
That is because Mean and average are the same thing
1. Use at least four more features and calculate: average, mean, median, sum, and implement at least three more statistics functions. Check the ```numpy``` and ```pandas``` documentation.
1. Submmit your report in Moodle. Template https://www.overleaf.com/read/xqcnnnrsspcp

## Versions

In [1]:
from platform import python_version
print("python version: ", python_version())
!pip3 freeze | grep qiskit

python version:  3.8.9

In [22]:
AverageEng = np.average(df.ENGINESIZE <= 2.0)
AverageEng
MeanEng = np.mean(df.ENGINESIZE <= 2.0)
MeanEng
Std_Eng = np.std(df.ENGINESIZE <= 2.0)
Std_Eng
Var_Eng = np.var(df.ENGINESIZE <= 2.0)
Var_Eng
print(AverageEng,MeanEng,Std_Eng,Var_Eng)

0.29053420805998126 0.29053420805998126 0.4540089008014499 0.20612408200694077

In [25]:
MeanEng = (df.ENGINESIZE <= 2).mean()
MeanEng
Std_Eng = (df.ENGINESIZE <= 2).std()
Std_Eng
Var_Eng = (df.ENGINESIZE <= 2).var()
Var_Eng
print(MeanEng,Std_Eng,Var_Eng)

0.29053420805998126 0.45422180064940043 0.20631744418518366

# References

[0] data https://tinyurl.com/2m3vr2xp

[1] numpy https://numpy.org/

[2] scipy https://docs.scipy.org/

[3] matplotlib https://matplotlib.org/

[4] matplotlib.cm https://matplotlib.org/stable/api/cm_api.html

[5] matplotlib.pyplot https://matplotlib.org/stable/api/pyplot_summary.html

[6] pandas https://pandas.pydata.org/docs/

[7] seaborn https://seaborn.pydata.org/