# Data Science
#### By: Javier Orduz
[license-badge]: https://img.shields.io/badge/License-CC-orange
[license]: https://creativecommons.org/licenses/by-nc-sa/3.0/deed.en

[![CC License][license-badge]][license]  [![DS](https://img.shields.io/badge/downloads-DS-green)](https://github.com/Earlham-College/DS_Fall_2022)  [![Github](https://img.shields.io/badge/jaorduz-repos-blue)](https://github.com/jaorduz/)  ![Follow @jaorduc](https://img.shields.io/twitter/follow/jaorduc?label=follow&logo=twitter&logoColor=lkj&style=plastic)

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

Gitlab\
https://github.com/tojacqu19/DS-401

# Exercises

1. Use ```pandas``` and read dataset drinks.csv
1. Show the first 10 rows of drinks
1. create a variable called beer_servings and use it to store the beer_servings column
1. Display a dataframe where the only rows are those with continent America
1. Display a dataframe where the only rows are those with continent North America
1. Create a new dataframe called north_america that holds your answer in 1. drinks (the dataframe) should remain unchanged.
1. Create a new dataframe called america_continent that holds your answer in 1. drinks (the dataframe) should remain unchanged.
1. What is the average wine consumption per person per year in Africa?
1. What is the average wine consumption per person per year in America?
1. What is the average wine consumption per person per year in Europe?

1. Submmit your report in Moodle. Template https://www.overleaf.com/read/xqcnnnrsspcp

## Versions

In [3]:
from platform import python_version
print("python version: ", python_version())
!pip3 freeze | grep qiskit

python version:  3.7.4
DEPRECATION: Python 3.5 reached the end of its life on September 13th, 2020. Please upgrade your Python as Python 3.5 is no longer maintained. pip 21.0 will drop support for Python 3.5 in January 2021. pip 21.0 will remove support for this functionality.

In [7]:
df = pd.read_csv('drinks.csv')
df["continent"].fillna("NA", inplace = True)
df.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NA
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

In [8]:
beer_servings = df["beer_servings"]

In [9]:
north_america = df.query('continent=="NA"')
north_america.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
5,Antigua & Barbuda,102,128,45,4.9,NA
11,Bahamas,122,176,51,6.3,NA
14,Barbados,143,173,36,6.3,NA
17,Belize,263,114,8,6.8,NA
32,Canada,240,122,100,8.2,NA

In [10]:
li = ["NA","NaN", "SA",]

america_continent = df[df.continent.isin(li)]
america_continent.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
5,Antigua & Barbuda,102,128,45,4.9,NA
6,Argentina,193,25,221,8.3,SA
11,Bahamas,122,176,51,6.3,NA
14,Barbados,143,173,36,6.3,NA
17,Belize,263,114,8,6.8,NA

In [11]:
#What is the average wine consumption per person per year in Africa?
a = df.query('continent=="AF"')
africa_wine_servings = a["wine_servings"]

africa_wine_servings.mean(axis = 0)

16.264150943396228

In [12]:
#What is the average wine consumption per person per year in America?
li = ["NA","NaN", "SA",]

america_continent = df[df.continent.isin(li)]
america_wine = america_continent["wine_servings"]
america_wine.mean(axis = 0)
#america_wine.head()

37.51428571428571

In [13]:
#What is the average wine consumption per person per year in Europe?
a = df.query('continent=="EU"')
EU_wine_servings = a["wine_servings"]

EU_wine_servings.mean(axis = 0)

142.22222222222223

# References

[0] source https://github.com/sinanuozdemir

[1] numpy https://numpy.org/

[2] scipy https://docs.scipy.org/

[3] matplotlib https://matplotlib.org/

[4] matplotlib.cm https://matplotlib.org/stable/api/cm_api.html

[5] matplotlib.pyplot https://matplotlib.org/stable/api/pyplot_summary.html

[6] pandas https://pandas.pydata.org/docs/

[7] seaborn https://seaborn.pydata.org/